@import "assets/scss/reset";
@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 20px;
  gap: 0 15px;
  border-bottom: 0.5px solid $gray-9;

  &-txt {
    font-size: 20px;
    font-weight: 600;
    color: $gray-6;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 0.5px solid $gray-9;
    border-radius: 200px;
    padding: 12px 24px;
    max-width: calc(650px - 49px);
    width: 100%;
    @include deptop580 {
      display: none;
    }
    &-txt {
      font-size: 16px;
      font-weight: 600;
      color: $gray-3;

      &::placeholder {
        color: $gray-9;
        font-size: 16px;
      }
    }

  }

  .option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 25px;

    &-item {
      cursor: pointer;
    }
  }
}

.cart-count {
  position: absolute;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 1px 5px;
  margin-right: 8px;
  top: -5px;
  right: 40px;
}
