@import "assets/scss/reset";
@import "assets/scss/_variables.scss";

* {
  font-family: sans-serif;
}


.modal {
  position: absolute;
  top: 85px;
  right: 0;
  max-width: 350px;
  width: 100%;
  height: calc(100vh - 88px);
  z-index: 999;
  transition: 0.3s ease-out;
  border-left: 1px solid $gray-10;
  background-color: $gray-0;

  &-cart {
    padding: 16px;

    &--mini {
      display: flex;
      justify-content: space-between;
    }
  }
}

.modal-mini--title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $gray-6;
}

.modal-mini--close img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.cart-mini-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-mini-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-quantity--number {
  font-size: 14px;
  font-weight: 500;
  color: $gray-6;
  margin-bottom: 8px;
}

.cart-price--number {
  font-size: 14px;
  font-weight: 500;
  color: $gray-6;
  margin-bottom: 8px;
}

.cart-delele {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2px solid #C1C0C9;
  font-size: 14px;
  height: 40px;
  width: calc(100% - 2px);
  margin: 10px 0;
  cursor: pointer;
}

.cart-item-container {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-top: 16px;
}

.cart-item_product {
  min-width: 175px;
  width: 100%;
}

.cart-item--img img {
  width: 100px;
  height: 100px;
}

.cart-item--title {
  font-size: 14px;
  font-weight: 550;
  color: $gray-6;
  margin-bottom: 8px;
}

.cart-item--category {
  font-size: 12px;
  font-weight: 550;
  color: $gray-6;
  margin-bottom: 8px;
}

.cart-item--description {
  font-size: 12px;
  color: $gray-6;
  margin-bottom: 8px;
}

.cart-item-product {
  display: flex;
  align-items: center;
  gap: 0 15px;
  padding: 16px 0;
  border-collapse: collapse;
}

.cart-item-quantity {
  text-align: right;
}

.cart-item-price {
  text-align: right;
}

.cart-item-total {
  text-align: right;
}

.item-cart--container {
  height: 590px;
  overflow-x: hidden;
  overflow-y: auto;
}

#cart {
  display: flex;
  justify-content: end;

}

.cart-all {
  min-width: 320px;
  width: 100%;
  margin-bottom: 15px;

  &_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.submit {
  margin-top: 50px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.btn-nuxtLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2px solid $gray-9;
  font-size: 18px;
  height: 53px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;

  a {
    color: $gray-6;
  }
}

.btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2px solid $gray-9;
  font-size: 18px;
  height: 53px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: $gray-6;
  color: $gray-0;
}

.quantity-number {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $gray-6;
}

.price-number {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $gray-6;
}
