$font: "Montserrat", sans-serif;
$gray-0: #FFF;
$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #0D683E;
$gray-6: #12131C;
$gray-7: #6F7180;
$gray-8: #EDEDED;
$gray-9: #C1C0C9;
$gray-10: #f5f5f5;
$gray-11: red;
$gray-12: #6c757d;
$bgc-0: linear-gradient(180deg, #29B473 0%, #1376BC 100%);
$bgc-1: linear-gradient(160deg, #29B473 0%, #1376BC 100%);
$bgc-2: #FAA44F;
$bgc-3: #EFF0F7;
$bgc-4: #1e283c;
